.like {
  width: 750px;
  min-height: 100vh;
  padding: 30px 0;
  background-color: $color-background-deep;
}

.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loginButton {
  width: 400px;
  height: 80px;
  background-color: $color-link;
  border-radius: 40px;
  color: #fff;
  font-size: 28rpx;
}
